body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 0;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 30px;
  background: gold;
  width: 10rem;
}

h1 {
}
